VITE_SUPABASE_URL=https://hwggdexxphmwqqoifrvv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh3Z2dkZXh4cGhtd3Fxb2lmcnZ2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU2Njg5NDMsImV4cCI6MjA5MTI0NDk0M30.RdVQZNBv_f1AXCfbxAHz8uLEXWH28jiCiscaUcJvyKc
